# Required in 1.0
HOMEPAGE_ALLOWED_HOSTS=

HOMEPAGE_VAR_PROXMOX_URL_INTERNAL=
HOMEPAGE_VAR_PROXMOX2_URL_INTERNAL=
HOMEPAGE_VAR_PROXMOX3_URL_INTERNAL=
HOMEPAGE_VAR_PROXMOX4_URL_INTERNAL=

HOMEPAGE_VAR_PLEX_URL=

HOMEPAGE_VAR_JELLYSEERR_URL=
HOMEPAGE_VAR_JELLYSEERR_URL_INTERNAL=

HOMEPAGE_VAR_TAUTULLI_URL=
HOMEPAGE_VAR_TAUTULLI_URL_INTERNAL=

HOMEPAGE_VAR_PROWLARR_URL=
HOMEPAGE_VAR_PROWLARR_URL_INTERNAL=

HOMEPAGE_VAR_QBITTORRENT_URL=
HOMEPAGE_VAR_QBITTORRENT_URL_INTERNAL=

HOMEPAGE_VAR_SABNZBD_URL=
HOMEPAGE_VAR_SABNZBD_URL_INTERNAL=

HOMEPAGE_VAR_SONARR_URL=
HOMEPAGE_VAR_SONARR_URL_INTERNAL=

HOMEPAGE_VAR_RADARR_URL=
HOMEPAGE_VAR_RADARR_URL_INTERNAL=

HOMEPAGE_VAR_LIDARR_URL=
HOMEPAGE_VAR_LIDARR_URL_INTERNAL=

HOMEPAGE_VAR_UPTIMEKUMA_URL=
HOMEPAGE_VAR_UPTIMEKUMA_URL_INTERNAL=

HOMEPAGE_VAR_NEXTCLOUD_URL=

HOMEPAGE_VAR_NAS_URL=

HOMEPAGE_VAR_IMMICH_URL=

HOMEPAGE_VAR_HOMEASSISTANT_URL=
HOMEPAGE_VAR_HOMEASSISTANT_URL_INTERNAL=

HOMEPAGE_VAR_MAINSAIL_URL=

HOMEPAGE_VAR_SYNCTHING_URL=

HOMEPAGE_VAR_NGINX_PROXY_MANAGER_URL=
HOMEPAGE_VAR_NGINX_PROXY_MANAGER_URL_INTERNAL=

HOMEPAGE_VAR_TDARR_URL_INTERNAL=

HOMEPAGE_VAR_MAINTAINERR_URL_INTERNAL=

HOMEPAGE_VAR_PIHOLE_URL_INTERNAL=
HOMEPAGE_VAR_ADGUARD_HOME_URL_INTERNAL=
HOMEPAGE_VAR_TECHNITIUM_URL_INTERNAL=
HOMEPAGE_VAR_TECHNITIUM2_URL_INTERNAL=

HOMEPAGE_VAR_OPENWEATHERMAP_API_KEY=

HOMEPAGE_VAR_GRAFANA_URL=
HOMEPAGE_VAR_GRAFANA_URL_INTERNAL=