VPN_SERVICE_PROVIDER=windscribe
# openvpn or wireguard
VPN_TYPE=wireguard

# OPENVPN
OPENVPN_CONFIG=Vancouver-Vansterdam-tcp
SERVER_REGIONS="Canada West"
SERVER_CITIES="Vancouver"
OPENVPN_USER=
OPENVPN_PASSWORD=
OPENVPN_CIPHERS=AES-256-GCM
OPENVPN_CIPHER_TRYNEXT=ncp-disable

# WIREGUARD
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
WIREGUARD_PRESHARED_KEY=
