VPN_SERVICE_PROVIDER=windscribe
VPN_TYPE=openvpn
OPENVPN_CONFIG=Vancouver-Vansterdam-tcp
SERVER_REGIONS="Canada West"
SERVER_CITIES="Vancouver"
OPENVPN_USER=
OPENVPN_PASSWORD=
OPENVPN_CIPHERS=AES-256-GCM
OPENVPN_CIPHER_TRYNEXT=ncp-disable
